.navbar-toggler {
    border-radius: 0;
    border: 0;
}

#nav_disenos {
    color: $mainColor;
    font-weight: 600;
}

#top_nav {
    background-color: rgb(216, 216, 216);
}

#header_desktop {
    display: none;
    background-color: $bgColorMain;
}